# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variables
*.tfvars
*.tfvars.json

# Plans
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# mac/linux/windows
.DS_Store
Thumbs.db